{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Admin - Edit group{% endblock %}

{% block body %}

	{% form_theme group_form 'GrabagameBookingBundle:Form:twitter-bootstrap.html.twig' %}

	<h2 class="section-title">Edit group</h2>

    {% block sidebar %}{% endblock %}

	<form class="form-horizontal" method="post" action="{{ path('group_submit_edit') }}" {{ form_enctype(group_form) }} >
		<fieldset>
			{{ form_widget(group_form.name) }}
		</fieldset>
		<fieldset>
			<p class="indent"><b>Please select the roles you would like to include in this group:</b></p>

			{{ form_widget(group_form.roles) }}
		</fieldset>       
		<div class="form-actions">
			<button class="btn btn-primary" type="submit">Update group</button>
			{% if Group.isActive == true %}
				<a class="btn" href="{{ path('group_deactivate', { 'groupId': Group.getId }) }}">Deactivate</a>
			{% else %}
				<a class="btn" href="{{ path('group_activate', { 'groupId': Group.getId }) }}">Activate</a>
			{% endif %}
		</div>
		{{ form_rest(group_form) }}
	</form>

{% endblock %}
