{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block boxes %}{% endblock %}

{% block body %}
    <h1>Make a booking</h1>

    {% if app.session.hasFlash('notice') %} 
        <div class="flash-notice">
            {{ app.session.flash('notice') }}
        </div>
    {% endif %}

    <p><strong>Details of your booking</strong></p>
    
    {{ form_errors(booking_form) }}

    <p><strong>Start time:</strong> {{ Booking.getStartTime.format('d F G:i a') }}</p>
    <p><strong>Court number:</strong> {{ Booking.getCourt.getNumber }}</p>
    <form action="{{ path('submitMakeBooking') }}" method="post">
        <input type="hidden" name="startTime" value="{{ Booking.getStartTime.format('Y-m-d G:i') }}">
        <input type="hidden" name="courtNumber" value="{{ Booking.getCourt.getNumber }}">
        <label>
            <strong>Duration:</strong>
            <select name="duration">
            {% for slotNumber in 1..Club.getMaxSlots %}
                <option value="{{ slotNumber }}">{{ Club.getBookingIncrement*slotNumber }} minutes</option>
            {% endfor %}
            </select>
        </label>
        <button type="submit">Make booking</button>
        {{ form_rest(booking_form) }}
    </form>

{% endblock %}

{% block sidebar %}{% endblock %}
