{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block boxes %}{% endblock %}

{% block body %}
    <h1>Booking table</h1>

    {% if app.session.hasFlash('fos_user_success') %} 
        <div class="flash-notice">
            {{ app.session.flash('fos_user_success') }}
        </div>
    {% endif %}

    {% if app.session.hasFlash('notice') %} 
        <div class="flash-notice">
            {{ app.session.flash('notice') }}
        </div>
    {% endif %}

    <table id="timetable">
    {% for Court in Club.getCourts %}
        <th>Court {{ Court.getNumber }}</th>
    {% endfor %}

    {% for StartTime in StartTimes %}
        <tr>
        {% for Court in Club.getCourts %}
            {% set Booking = BookingCollection.getForCourtAndStartTime(Court, StartTime) %} 
            {% if Booking is not null %}
                {% set Member = Booking.getMember %}
                {% if app.user.username is defined %}
                    {% if app.user.username == Member.getUsername %}
                        {% set CurrentUser = 'you' %}
                    {% else %}
                        {% set CurrentUser = '' %}
                    {% endif %}
                {% endif %}
                <td>
                    <a href="{{ path('cancel', { 'bookingId': Booking.getId }) }}" class="booked {% if CurrentUser is defined %}{{ CurrentUser }}{% endif %}">{{ StartTime.format('G:i') }}<br />{{ Member.getNameForBookingTable }}</a>
                </td>
            {% else %}
                <td>
                <a href="{{ path('makeBooking', { 'courtNumber': Court.getNumber, 'startTime': StartTime.format('G:i:s') }) }}">{{ StartTime.format('G:i') }}</a>
                </td>
            {% endif %}                
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
                
{% endblock %}

{% block sidebar %}{% endblock %}
