{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block boxes %}{% endblock %}

{% block body %}
    <h1>Booking table</h1>

    <table id="timetable">
    {% for Court in Club.getCourts %}
        <th>Court {{ Court.getNumber }}</th>
    {% endfor %}

    {% for StartTime in StartTimes %}
        <tr>
        {% for Court in Club.getCourts %}
            {% set Booking = BookingCollection.getForCourtAndStartTime(Court, StartTime) %} 
            {% if Booking is not null %}
                {% set Member = Booking.getMember %}
                <td>
                    <a href="" class="booked">{{ StartTime.format('G:i') }}<br />{{ Member.getNameForBookingTable }}</a>
                </td>
            {% else %}
                <td>
                <a href="{{ path('makeBooking', { 'courtNumber': Court.getNumber, 'startTime': StartTime.format('G:i:s') }) }}">{{ StartTime.format('G:i') }}</a>
                </td>
            {% endif %}                
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
                
{% endblock %}

{% block sidebar %}{% endblock %}
