{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Cancel a booking{% endblock %}

{% block body %}
    <h1>Cancel your booking</h1>

    <p><strong>Details of your booking</strong></p>
    
    {% if Booking.getType == 'onBehalf' %}
    <p><strong>Name:</strong> {{ BookingService.getBookingOnBehalfName(Booking) }}</p>
    <p><strong>Phone number:</strong> {{ BookingService.getBookingOnBehalfPhoneNumber(Booking) }}</p>
    {% else %}
    <p><strong>Name:</strong> {{ Booking.getMember.getFirstName }} {{ Booking.getMember.getLastName }}</p>
    {% endif %}
    <p><strong>Start time:</strong> {{ Booking.getStartTime.format('d F G:i a') }}</p>
    <p><strong>Court number:</strong> {{ Booking.getCourt.getNumber }}</p>
    <p><strong>Duration:</strong> {{ Booking.getSlots*Club.getBookingIncrement }} minutes</p>
    <form action="{{ path('submitCancel', { 'bookingId': Booking.getId }) }}" method="post">
        <input type="hidden" name="bookingId" value="{{ Booking.getId }}">
        <button class="btn btn-primary" type="submit">Cancel booking</button>
    </form>
{% endblock %}

{% block sidebar %}{% endblock %}
