{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Make a booking{% endblock %}

{% block body %}
    <h1>Make a booking</h1>

    {% include 'GrabagameBookingBundle:Generic:displayErrors.html.twig' %}

    <p><strong>Details of your booking</strong></p>
    
    {{ form_errors(booking_form) }}

    <form action="{{ path('submitMakeBooking') }}" method="post">
        {% if app.user.hasRole('BOOK_ON_BEHALF') %}
            <label class="checkbox">
                <input type="checkbox" id="onBehalf" name="onBehalf" value=1 checked="checked">
                I am making this booking on behalf on someone else
            </label>
            <p id="onBehalfName">
                <input type="text" name="firstName" placeholder="First name" required="required"> 
                <input type="text" name="lastName" placeholder="Last name" required="required"><br>
                <input type="text" name="phoneNumber" placeholder="Phone number" required="required">
            </p>
        {% endif %}
        <p><strong>Start time:</strong> {{ Booking.getStartTime.format('d F G:i a') }}</p>
        <p><strong>Court number:</strong> {{ Booking.getCourt.getNumber }}</p>
        <input type="hidden" name="startTime" value="{{ Booking.getStartTime.format('Y-m-d G:i') }}">
        <input type="hidden" name="courtNumber" value="{{ Booking.getCourt.getNumber }}">
        <label class="control-label" for="duration">
        Duration:
        </label>
            <select name="duration" id="duration">
            {% if MaxSlots is defined %}
                {% if MaxSlots > Club.getMaxSlots %}
                    {% set MaxSlots = Club.getMaxSlots %}
                {% endif %}
            {% else %}
                {% set MaxSlots = Club.getMaxSlots %}
            {% endif %}

            {% for slotNumber in 1..MaxSlots %}
                <option value="{{ slotNumber }}">{{ Club.getBookingIncrement*slotNumber }} minutes</option>
            {% endfor %}
            </select>
        <label class="checkbox" id="nameHidden">
            <input type="checkbox" name="nameHidden" value=1>
            Hide my name from this booking
        </label>
        <button class="btn btn-primary" type="submit">Make booking</button>
        {{ form_rest(booking_form) }}
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/grabagamebooking/js/makebooking.js') }}" type="text/javascript"></script>
{% endblock %}
{% block sidebar %}{% endblock %}
