{% extends 'GrabagameBookingBundle::layout.html.twig' %}

{% block title %}Bookings{% endblock %}

{% block body %}

    <h1 class="bookingHeading">{{ DayToDisplay.format('l dS F, Y') }}</h1>

    <ul class="pager">
        <li class="previous"><a href="{{ path('booking', { 'dayToDisplay': Yesterday.format('Y-m-d') }) }}">&larr; Yesterday</a></li>
        <li class="next"><a href="{{ path('booking', { 'dayToDisplay': Tomorrow.format('Y-m-d') }) }}">Tomorrow &rarr;</a></li>
    </ul>

    {% include 'GrabagameBookingBundle:Generic:displayErrors.html.twig' %}

    <table id="timetable">
    {% for Court in Club.getCourts %}
        <th>Court {{ Court.getNumber }}</th>
    {% endfor %}

    {% for StartTime in StartTimes %}
        <tr>
        {% for Court in Club.getCourts %}
            {% set Booking = BookingCollection.getForCourtAndStartTime(Court, StartTime) %} 
            {% if Booking is not null %}
                {% set Member = Booking.getMember %}
                {% if app.user.username is defined %}
                    {% if app.user.username == Member.getUsername %}
                        {% set BookingClass = 'you' %}
                    {% else %}
                        {% set BookingClass = 'booked' %}
                    {% endif %}
                {% endif %}
                {% if Booking.getType == 'onBehalf' %}
                    {% set NameForBookingTable = BookingService.getBookingOnBehalfName(Booking) %}
                    {% set BookingClass = 'onBehalf' %}
                {% else %}
                    {% set NameForBookingTable = Member.getNameForBookingTable %}
                {% endif %}
                <td>
                    <a href="{{ path('cancel', { 'bookingId': Booking.getId }) }}" class="{% if BookingClass is defined %}{{ BookingClass }}{% endif %}">{{ StartTime.format('G:i') }}<br />{% if not Booking.isNameHidden or BookingClass == 'you' %}{{ NameForBookingTable }}{% endif %}</a>
                </td>
            {% else %}
                <td>
                <a href="{{ path('makeBooking', { 'courtNumber': Court.getNumber, 'startTime': StartTime.format('Y-m-d G:i:s') }) }}">{{ StartTime.format('G:i') }}</a>
                </td>
            {% endif %}                
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
                
{% endblock %}

{% block sidebar %}{% endblock %}
