{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="left">
        <h2>Login</h2>

        {% if app.session.hasFlash('alert-success') %} 
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">×</button>
                {{ app.session.flash('alert-success') }}
            </div>
        {% endif %}

        {% if app.session.hasFlash('alert-info') %} 
            <div class="alert alert-info">
                <button class="close" data-dismiss="alert">×</button>
                {{ app.session.flash('alert-info') }}
            </div>
        {% endif %}

        {% if app.session.hasFlash('alert-error') %} 
            <div class="alert alert-error">
                {{ app.session.flash('alert-error') }}
            </div>
        {% endif %}

        {% if error %}
            <div>{{ error }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">Username: </label>
            <input type="text" id="username" name="_username" />
            <br />

            <label for="password">Password: </label>
            <input type="password" id="password" name="_password" />

            <br />
            <label class="checkbox inline" for="remember_me">
                Remember me:
                <input class="checkbox inline" type="checkbox" name="_remember_me" />
            </label>

            <br />
            <button type="submit" id="_submit" name="_submit" />
            <i class="icon-check"></i>
            Sign in</button>
            <a href="{{ path('member_forgot_password') }}">Forgot your password?</a>
        </form>
    </div>
{% endblock body %}
